@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-text: var(--text);
  --color-subtitle: var(--subtitle);
  --color-background: var(--background);
  --color-header-bg: var(--header-bg);
  --color-link: var(--link);
  --color-white: var(--white);
  --color-placeholder: var(--placeholder);
  --color-blue-background: var(--blue-background);
  --color-linear: var(--linear);
  --color-hover: var(--hover);
  --font-cairo: var(--font-cairo);
}

:root {
  --font-cairo: "Cairo", sans-serif;
  --text: #1C3C67;
  --subtitle: #33669B;
  --background: #F3F5F8;
  --header-bg: #E1EBF8;
  --link: #0088FF;
  --white: #FFFFFF;
  --placeholder: #989898;
  --blue-background: #9ABCDF;
  --hover:#E0E7F1;
  --linear: linear-gradient(to left, var(--text), var(--blue-background));
}

.dark {}



@font-face {
   font-family: "Cairo";
  src: 
    local("cairo"),
    url("/fonts/cairo.woff2") format("woff2"),
    url("/fonts/cairo.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

* {
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  body {
    font-family: "Cairo", sans-serif !important;
}

}

a {
  text-decoration: none;
  color: inherit;
}

section {
  min-height: 100%;
  scroll-snap-align: start;
  overflow: hidden;

}

.gradient-background {
  background: var(--linear);
}

.gradient-background:hover {
  background: var(--blue-background);
}

.normal-background {
  background: transparent;
}
.normal-background:hover {
  background: var(--hover);
}
.disabled{
  background: var(--placeholder);
  cursor:not-allowed;
  box-shadow: none;

}
.disabled:hover{
  background: var(--placeholder);
  cursor:not-allowed;
  color:var(--white);
  scale:none;
  box-shadow: none;
}
.background-hover{
  background: var(--hover);
}
@keyframes fade-in {
  0% { opacity: 0; transform: translateX(10px); }
  100% { opacity: 1; transform: translateX(0); }
}

.animate-fade-in {
  animation: fade-in 0.7s ease forwards;
}
.text-link {
  color: var(--link);
  border-bottom: 2px solid var(--link); 
  padding-bottom: 4px;
  transition: all 0.3s ease;
}

.text-link:hover {
  color: var(--color-blue-background);
  transform: scale(1.02);
  border-bottom:2px solid  var(--color-blue-background);
}
.no-shadow{
  box-shadow: none;
}
.no-shadow:hover{
  box-shadow: none;
}
@layer utilities {

  .text-linear {
    background: linear-gradient(to left, var(--text), var(--blue-background));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding: 2px 0px;
    display: inline-block;
  }

  .btn-shadow {
    box-shadow: 0px 4px 4px #A5BFCB;
  }

  .btn-shadow:hover {
    box-shadow: none;
  }

  .card-shadow {
    box-shadow: 24px 20px 40px 10px rgba(203, 205, 207, 0.4);
  }
}

@media (max-width: 1120px) {
 .card-shadow {
    box-shadow: 12px 10px 20px 5px rgba(203, 205, 207, 0.4);
  }
}

@layer base {
  .main-title {
    @apply font-cairo text-[20px] md:text-[40px] lg:text-[50px] font-bold leading-10 md:leading-24 overflow-hidden;
  }

  .title {
    @apply font-cairo text-[20px] md:text-[30px] lg:text-[40px] font-bold leading-12 md:leading-20 overflow-hidden;
  }

  .subtitle {
    @apply font-cairo text-[16px] md:text-[16px] lg:text-[24px] font-bold leading-8 md:leading-12 overflow-hidden;
  }

  .text {
    @apply font-cairo text-[14px] md:text-[14px] lg:text-[20px] font-semibold leading-6 md:leading-10 overflow-hidden;
  }

  .description {
    @apply font-cairo text-[14px] md:text-[14px] lg:text-[18px] leading-6 md:leading-10 overflow-hidden;
  }

  .button-text {
    @apply font-cairo text-[14px] md:text-[16px] lg:text-[20px] font-semibold overflow-hidden;
  }

  .question {
    @apply font-cairo text-[20px] md:text-[24px] lg:text-[30px] font-semibold leading-8 md:leading-14 overflow-hidden;
  }

}

@layer base {

  body {
    /* @apply bg-background text-foreground; */

  }

}